
/*
The imported item must be the first in the css file.
Imported font from google fonts.
Font family: Open sans.
Types: light, light italic, bold, bold italic.
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');

body{
    font-family: 'Open Sans', sans-serif;
    /* The base settings for the font size. In the rest of the page it will be set relative to this value (with em's) */
    font-size: 16px; 
    font-weight: 300; /* Light */
    color: #555;
    margin: 0px;
    padding: 0px;
}

#page {
    max-width: 1200px; /* The same width as the biggest banner */
    margin: 0 auto; /* auto to left and right makes the page div centered. */
    /* Any elements inside the page div will be positioned relative to the div page position element. */
    position: relative;
}

/*** Text rules ***/

h1{
    /* 1em relative from the font-size value in the body which is here margin-bottom = 16px. */
    margin: 0 0 1em 0;
    /* 2.8em relative from the font-size value in the body. */
    font-size: 2.8em;
    font-weight: 700; /* Bold */
}

h2 {
    margin: 0 0 0.5em 0;
    font-size: 1.6em;
    line-height: 1.1em;
    font-weight: 700;
}

h3 {
    margin: 0 0 0.5em 0;
    font-size: 1.3em;
    font-weight: 700;
}

h4 {
    margin: 0 0 1.5em 0;
    font-size: 1em;
    font-weight: 700;
}

p {
    margin: 0 0 1em 0;
}

a {
    color: #007eff;
}

a:visited {
    color: #65b1ff;
}

/* Rules for making anchors with the class btn to look like a button. */
a.btn {
    font-size: 1.2em;
    color: #fff;
    padding: 4px 15px;
    border: 1px solid #fff;
    text-decoration: none;
    transition: background-color 1s; /* The time for changing the background color in the hover pseudo class */
}

/* Changes the color of the anchor button to black with 70% transparance. */
a.btn:hover {
    background-color: rgba(0, 0, 0, .3);
}

/*** Header rules ***/

header {
    height:430px;
    background: #cf0004 url('../images/banner_1200.jpg') no-repeat center bottom;
    position: relative;
}

/* targets the anchor tags with the logo class inside the header element. */
header a.logo {
    position: absolute;
    width: 160px; /* Same width as the logo.svg image. */
    height: 66px; /* Same height as the logo.svg image. */
    /* The first 0 is x position and second is y position. */
    background: url('../images/logo.svg') no-repeat 0 0;
    /* Means the background size is going to fit with the height and width values. */
    background-size: contain;
    top: 15px;
    left: 10px;
}

/* For hiding the text of the anchor tag that shows the logo image for the user. */
header a.logo span {
    display: none;
}

header div.hero {
    position: absolute;
    width: 42%;
    top: 130px;
    left: 55%;
}

header div.hero h1 {
    line-height: 1em;
    color: #fff;
    margin: 0 0 30px 0;
}